.container {
    max-width: 800px;
    margin: auto;
}

.table-responsive {
    overflow-x: auto;
}

.btn-sm {
    width: 80px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .table {
        font-size: 12px;
    }

    button {
        font-size: 12px;
        padding: 5px;
    }
}