<div class="login-wrapper">
    <div class="wrapper">
        <div class="title-text">
            <div class="title login" [style.marginLeft]="loginTextMargin">
                Login
            </div>
            <div class="title signup">Signup</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" (change)="toggleForm('login')" checked />
                <input type="radio" name="slide" id="signup" (change)="toggleForm('signup')" />
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slider-tab" [style.left]="sliderTabPosition"></div>
            </div>
            <div class="form-inner">
                <form [style.marginLeft]="formMargin" class="login" [formGroup]="loginForm">
                    <div class="field">
                        <input type="text" placeholder="Email Address" formControlName="email" required />
                    </div>
                    <div class="field">
                        <input [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password"
                            formControlName="password" required />
                        <i class="fa" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login" (click)="onSubmit()" />
                    </div>
                </form>
                <form class="signup">
                    <div class="field">
                        <input type="text" placeholder="Email Address" required />
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" required />
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm password" required />
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Signup" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>